@import "bootstrap";

.shop-order {
  .form-control {
    width: 40%;
  }
}

.shop-inline {
  div {
    display: inline-block;
  }
}

.has-error .help-block {
  color: red;
}
table, td, th {
  border: 1px solid black;
}